@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Bungee&family=Imperial+Script&family=Kanit:wght@300&family=Luxurious+Roman&family=Norican&family=Oswald&family=Poppins:wght@400;500;600&family=Prosto+One&family=Saira+Condensed:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /* background-color: #041C32; */
    /* background-color: #071624; */
    background-color: #061422;
}


/* head */
.head {
    width: 100%;
    height: 12px;
    background-color: #49274A;
}
/* head */


/* Header section */

.brand h1{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #94618E;
}

.brand h1 span {
    color: #49274A;
    font-weight: 1000;
}

span {
    color: #94618E;
    font-weight: 2000;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1700px;
    padding: 1% 4rem;
}

#header .nav-list ul {
    list-style: none;
    position: fixed;
    /* background-color: rgb(31, 30, 30); */
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active {
    left: 0;
}


#header .nav-list ul a {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #94618E;
    text-transform: uppercase;
    padding: 15px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240,248, 255, 0.021) ;
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul a.active {
    color: #49274A;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li a:hover{
    color: #49274A;
    font-weight: 900;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #49274A;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #49274A;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: #49274A;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #94618E;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

/* keyframes */
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);  
    }

    100%{
        opacity: 0;
        transform: scale(1.5);  
    }
}

@media only screen and (min-width: 1330px) {
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul a:after {
        display: none;
    }

}
/* keyframes */
/* ENd header section */

/* HOME */
.home_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: rgb(245, 224, 224); */
    color: #DDE6ED;
}

.home_data {
    margin-left: 15px;
}

.home_social {
    margin-bottom: 3%;
}

.home_social-icon {
    font-size: 1.50rem;
    color: #94618E;
    font-weight: 600;
}

.home_social-icon:hover {
    color: #49274A;
    font-weight: 900;
}

.button {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #49274A;
    font-size: 1.5rem;
    color: #49274A;
    border-radius: .5rem;
    font-weight: 800;
    cursor: pointer;
}

.button:hover {
    background-color: #49274A;
    color: white;
}

.home-scroll {
    margin-top: 10%;
}

.scrolldown {
    text-decoration: none;
    font-size: 1.25rem;
    color: #DDE6ED;
}

.scrolldown:hover {
    color: #49274A;
    font-weight: 900;
}

/* media  */
@media (max-width: 650px) {
    .home_container {
        flex-direction: column-reverse;
    }

    .home_data {
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .home-image {
        width: 50%;
    }
}

/* ENd Home section  */

/* services */
#services {
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
}

.section-title {
    font-size: 3.5rem;
    font-weight: 300;
    color: #DDE6ED;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.section-subtitle {
    font-size: 1.5rem;
}

.services_container {
    margin-top: 5%;
    display: flex;
    text-align: center;
}

.service-item{
    padding: 3.5rem .5rem;
    flex-basis: 80%;
    color: #DDE6ED;
    /* background-color: #F8EEE7; */
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0 #0000002c;
    margin: 10px 2%;
}

#icon {
    font-size: 3rem;
}

@media (max-width: 630px) {
    .services_container {
        flex-direction: column;
    }
}

/* End .service */

/* recent section */
.project-title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
    color: #DDE6ED;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

#project {
    text-align: center;
    margin: 0 auto;
    padding: 70px 0;
}

.project-subtitle {
    font-size: 1.5rem;
}

.project-content {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 80vh;
    background-color: #F4DECB;
}

.project-item {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 1.5%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}

.project-item img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.project-item h2 {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}

.project-item:hover { flex: 1 1 50%;}
.project-item:hover img {
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .project-content {
        flex-direction: column;
        height: 100vh;
    }
}

/* end recent section */


/* ABOUT MEsection */
#about_container {
    padding-top: 8rem;
}

.about_content {
    /* padding: 0 0 0 5rem; */
    color: #DDE6ED;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about_note h2{
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.about_note p {
    /* width: 30%; */
}

#about {
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
}

#about p {
    font-size: 1.25rem;
    margin-bottom: 3%;
}

.about_imag img {
    width: 30vw;
    border-radius: 10%;
}

/* ENd aboutme section */

/* contact me section */

.contact-title {
    color: #DDE6ED;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 50px 10%;
}

#contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}

.contact-content {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .contact-items {
    color: #DDE6ED;
    width: 400px; 
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* background-color: #F8EEE7; */
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}

@media (max-width: 1200px) {
    .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }   
} 
#contact .contact-items:hover {
    box-shadow: 0px 0px 18px 0 #0000004c;
}

#contact .icon {
    font-size: 2.50rem;
    color: #49274A;
    font-weight: 900;
}


#contact .icons {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

#contact .contact-info h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2{
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

 /* End contact section */


/* footer */
.footer {
    /* background-color: #49274A; */
    color: white;
    padding: 5% 5%;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title span {
    color: #94618E;
}

.footer-details {
    margin: 0 10%;
}

.footer-title {
    font-size: 1.5em;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.footer-socials .-icon,
.footer-socials a {
    padding-top: 3%;
    font-size: 2rem;
    text-decoration: none;
    color:#94618E;
}

.footer-content p {
    padding-bottom: 3rem;
}

@media (max-width: 630px) {
    .footer-content {
        flex-direction: column;
    }
}

/* endfooter */